NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here-change-in-production
AUTH_DUENDE_ID=nextjs-client
AUTH_DUENDE_SECRET=nextjs-secret
NEXT_PUBLIC_API_CADASTRO_URL=http://localhost:5002
