@page
@model VendeTudo.Identidade.API.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h4>Você foi desconectado</h4>
            <p>Obrigado por usar o VendeTudo!</p>
            <a href="/" class="btn btn-primary">Voltar ao início</a>
        </div>
    </div>
</div>
